<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper의 namespace는 Mapper 인터페이스와 연동할 때 사용 -->
<mapper namespace="kr.or.nextit.project.board.BoardMapper">
	<resultMap id="boardMap" type="boardDTO">
		<result column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="writer" property="writer"/>
		<result column="hits" property="hits"/>
		<result column="register_date" property="registerDate"/>
		<result column="modified_date" property="modifiedDate"/>
	</resultMap>

	<select id="selectBoards" resultType="boardDTO">
		SELECT
			ID,
			TITLE,
			CONTENT,
			WRITER,
			REGISTER_DATE,
			MODIFIED_DATE,
			HITS
		FROM
			BOARD
	</select>

	<select id="selectBoard" parameterType="int" resultMap="boardMap">
		SELECT
			ID,
			TITLE,
			CONTENT,
			WRITER,
			REGISTER_DATE,
			MODIFIED_DATE
		FROM
			BOARD
		WHERE
			ID = #{id}
	</select>

	<update id="updateHits" parameterType="int">
		UPDATE
			BOARD
		SET
			HITS = HITS + 1
		WHERE
			ID = #{id}
	</update>

	<insert id="registerBoard" parameterType="boardDTO">
		INSERT INTO
			BOARD
			(TITLE, CONTENT, WRITER)
		VALUES
			(#{title}, #{content}, #{writer})
	</insert>

	<update id="modifyBoard" parameterType="boardDTO">
		UPDATE
			BOARD
		SET
			TITLE = #{title},
			CONTENT = #{content},
			WRITER = #{writer)
			MODIFIED_DATE = SYSDATE
		WHERE
			ID = #{id}
	</update>

	<delete id="removeBoard" parameterType="int">
		DELETE FROM
			BOARD
		WHERE
			ID = #{id}
	</delete>

</mapper>